<div class="center jumbotron">
  <h1>Sign up to review some memes</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class='home-img'>
<%= image_tag("meme-review.jpg", alt: "pewdiepie reviewing memes") %>
</div>
