@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: rgba(221, 220, 212, 0.966);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
 h1 {
  margin-bottom: 70px;
  }
}

/* typography */

$light-gray: #777;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn-primary {
  background-color: #ED4545;
  border-color: #ED4545;
  &:hover {
   background-color: #932A2A;
   border-color: #932A2A;
  }
}
/* header */

.dropdown-menu{
  background-color: #222
}

.dropdown-menu > li > a {
  color: rgb(221, 220, 212);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(221, 220, 212);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(221, 220, 212);
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: #fff;
    text-decoration: none;

  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color:rgb(255, 255, 255);
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* image */
 .home-img img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10%;
   height: 200px;
   width: 300px;
 }

 /* mixins, variables, etc. */

 $gray-medium-light: #eaeaea;

 @mixin box_sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
 }

 /* miscellanous */

 .debug_dump {
   clear: both;
   float: left;
   width: 100%;
   margin-top: 45px;
   @include box_sizing;
 }

 /* sidebar */

 aside {
   section.user_info {
     margin-top: 20px;
   }
   section {
     padding: 10px 0;
     margin-top: 20px;
     &:first-child {
       border: 0;
       padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
   }
 }

 .gravatar {
   border-radius: 50%;
   float: left;
   margin-right: 10px;
   height: 150px;
 }

 .gravatar_edit {
   margin-top: 15px;
 }

 .gravatar_edit {
  margin-top: 15px;
}

 /* forms */

 .checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

a {
  color: rgb(17, 63, 180);
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
  color: rgb(17, 63, 180);
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.pagination > .disabled > a:hover {
  background-color: rgb(221, 220, 212);
  color: #222;
  border-color: #222;
}

.pagination > .disabled > a {
  background-color: #222;
  color: rgb(221, 220, 212);
  border-color: #222;
}

.pagination > li > a {
  background-color: #222;
  color: rgb(221, 220, 212);
  border-color: #222;
}

.pagination > li > a:hover {
  background-color: rgb(221, 220, 212);
  color: #222;
  border-color: #222;
}

.pagination > .active > li > a:hover {
  background-color: rgb(221, 220, 212);
  color: #222;
  border-color: #222;
}


.pagination > .active > a {
  background-color: rgb(221, 220, 212);
  color: #222;
  border-color: #222;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  border-color: #222;
}
